<!-- start services -->
<section class="section" id="services">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">{{heading}}</h2>
                <p class="text-muted">{{content}}</p>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div *ngFor="let seminaire of seminaireList; let index=index" class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card rounded service-box-two text-center py-4 px-3"
                    [ngClass]=" { 'active': seminaire.name  }">
                    <div class="card-body">
                      
                        <h5 class="service-title fs-18 my-4">{{seminaire.name}}</h5>
                        <p class="text-muted pb-4">{{seminaire.date|date: 'dd-MM-yyyy hh:mm'}}</p>

                       
                    </div>

                </div>
                <button class="click" (click)="getSemById(seminaire._id)"  routerLink="/info">En savoir plus 
                </button>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end services -->

