<!-- start navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light border-bottom-0" id="navbar"
    (window:scroll)="windowScroll()">
    <div class="container">
        <a routerLink="/layout-two-2" class="navbar-brand me-5">
            <img src="assets/layout/images/ccc.png" class="logo-light" alt="" height="80" />
            <img src="assets/layout/images/ccc.png" class="logo-dark" alt="" height="80" />
        </a>
        <button (click)="toggleMenu()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggle-icon">
                <i-feather name="menu"></i-feather>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link" [ngClass]="{'active':currentSection === 'home'}" [ngxScrollTo]="'#home'"
                        href="javascript: void(0);">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link" [ngClass]="{'active':currentSection === 'services'}" [ngxScrollTo]="'#services'"
                        href="javascript: void(0);">Séminaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active':currentSection === 'feature'}" [ngxScrollTo]="'#feature'"
                        href="javascript: void(0);">  </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link" [ngClass]="{'active':currentSection === 'review'}" [ngxScrollToOffset]="5" [ngxScrollTo]="'#review'"
                        href="javascript: void(0);">à propos</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/home" class="nav-link" [ngClass]="{'active':currentSection === ''}" [ngxScrollToOffset]="7" [ngxScrollTo]="''"
                      href="javascript: void(0);">gallery</a>
              </li>
            </ul>
            <a href="javascript:void(0);" class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0 ms-auto" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="openModal(content)">Contactez-nous</a>
                <a href="javascript:void(0);" class="btn btn-sm nav-btn text-primary mb-4 mb-lg-0 ms-auto" data-bs-toggle="modal"
                data-bs-target="#exampleModal2" (click)="change()" (click)="openModal(aa)">connexion</a>
        </div>
    </div>
    <!-- end container -->
</nav>
<!-- end navbar -->
<!-- Modal -->
<ng-template #content let-modal>
    <div class="contact_form">
        <div class="modal-header home-modal">
            <h5 class="modal-title" id="exampleModalLabel">contacter</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <form method="post" name="myForm" onsubmit="return validateForm()">
                <span id="error-msg"></span>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="name">nom</label>
                                <input type="text" class="form-control" placeholder="nom" id="name" required />
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="email">Email</label>
                                <input type="email" class="form-control" placeholder=" email" id="email" />
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="subject">Sujet</label>
                                <input type="text" class="form-control" placeholder="Sujet" id="subject" />
                            </div>
                            <!-- end col -->
                            <div class="col-md-6 mb-3">
                                <label class="fw-medium form-label" for="number">Contact</label>
                                <input type="text" class="form-control" placeholder="+216  21 345 678" id="number" />
                            </div>
                            <!-- end col -->
                            <div class="col-12 mb-3">
                                <label class="fw-medium form-label" for="comments">Message</label>
                                <textarea class="form-control" id="comments" placeholder="entrez votre message..."
                                    rows="5"></textarea>
                            </div>
                            <!-- end col -->
                            <div class="col-12">
                                <input type="submit" id="submit" name="send" class="btn btn-primary mt-2"
                                    value="Envoyer  information" />
                            </div>
                            <!-- end col -->
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </form>
        </div>
    </div>
</ng-template>

<ng-template #aa let-modal>
    <div class="contact_form">
        <div class="modal-header home-modal">
            <h5  *ngIf="ok" class="modal-title" id="exampleModalLabel">connexion</h5>
            <h5 *ngIf="!ok" class="modal-title" id="exampleModalLabel">S'inscrire</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            </button>
        </div>
        <div class="modal-body">
            <form method="post" name="myForm" onsubmit="return validateForm()">
                <span id="error-msg"></span>
                <app-login *ngIf="ok" onOkChanged (okChanged)="onOkChanged($event)"></app-login>
                <app-sign-up *ngIf="!ok" onOkChanged (okChanged)="onOkChanged($event)"></app-sign-up>
                <!-- end row -->
            </form>
        </div>
    </div>
</ng-template>

<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <!-- start hero -->
    
    <div style="width: 100%; height: 700px; margin-top:140px ; margin-bottom:10px;">
        <image-slider [slides]="slides"></image-slider>
      </div>
      <div class="ba">
        <br>
      <h1 > Nom de séminaire:</h1>
    <h2>{{SInformation.name}}</h2>
    <h1>date</h1>
    <h2>{{SInformation.date |date: 'dd-MM-yyyy hh:mm'}}</h2>
    <h1>Description:</h1>
    <p style="font-size: 30px;">{{SInformation.description}}</p>
    <h1>Programe de séminaire </h1>
  

    <a   href={{file}} (click)="get()" download="" >Telecharger programme</a>
    <h1>Les  Comités  </h1>
    <h3>Comité d'Organisation:</h3>

    <table  class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th >Position</th>
          
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let siminar of part1; let i = index;">
                <ng-container *ngIf="part2[i]">
                  <td style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:w;">{{ siminar }}</td>
                  <td  style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:w;">{{ part2[i] }}</td>
                </ng-container>
              </tr>
        
     
 
        
        </tbody>
      </table>
    
      <h3>Comité Scientifique:</h3>
      <table  class="table table-bordered">
        <thead>
          <tr>
            <th>Nom</th>
            <th >Email</th>
          
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let siminar of part3; let i = index;">
                <ng-container *ngIf="part4[i]">
                  <td style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:w;">{{ siminar }}</td>
                  <td  style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:w;">{{ part4[i] }}</td>
                </ng-container>
              </tr>
    
        </tbody>
      </table>
      <br>
<h1>Inscription</h1>
<p style="font-size: 30px;">{{SInformation.InscriptionINFo}}</p>
<h2 style=" color: #6d62fd;">prix de Inscription</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col">prix Chercheur</th>
        <th scope="col">prix Professionnel</th>
        <th scope="col">prix Online Sans Séjour</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>{{SInformation.prixINscher}} TND</td>
        <td>{{SInformation.prixINsPro}} TND</td>
        <td>{{SInformation.prixINsonli}} TND</td>
      </tr>
      
    </tbody>
  </table>
  <h1>information</h1>
  <p style="font-size: 30px;">{{SInformation.information}}</p>
  <h3 style=" color: #6d62fd;"> numero telephone de responsable:</h3>
  <h4>{{SInformation.nem_tel}}</h4>
  <br>
  <h3 style=" color: #6d62fd;"> Email de responsable:</h3>
  <h4 >{{SInformation.email}}</h4>
  <br>
  <h3 style=" color: #6d62fd;"> adrrese de séminaire:</h3>
  <h4>{{SInformation.adresse}}</h4>
  <div style="width: 300px;height: 300px;" >
    <mgl-map
  [style]="'https://api.maptiler.com/maps/streets/style.json?key=67VFum1pu079YvXBTupT'"
  [zoom]="[8]"
  [center]="[value1, value2]"
>
<mgl-marker [lngLat]="[value1,value2]"></mgl-marker>
<mgl-control mglNavigation position="top-left"></mgl-control>
</mgl-map>
</div> 
  <br>
  <h1> Partenaires</h1>
  <table style="border: 1px solid black; border-collapse: collapse;">
    <tr>
        <td style="border: 1px solid black;"  *ngFor="let item of listpart " >  <img  src={{item}} alt="x" width="300" height="300"   ></td>
    </tr>
  </table>
<br>
  <button routerLink="/login" style="margin-left: 300px; width:300px ;" type="button" class="btn btn-primary btn-lg btn-block">inscription</button>
<br>
<h1></h1>
<br>
  

</div>

    <app-footer></app-footer>
    

  
</div>



