.ba{
    background-color:#f3f3f3  ;  
    width: 100%;
    height: 100%;
 
    
}
h1{
    color: #6d62fd;
}
img{
   margin-left: 10px; 
   margin-right: 10px;
}

mgl-map {
    height: 300px;
    width: 300px;
  }