<!--what client says -->
<section class="section" id="review" style="background-image: url(assets/layout/images/testimonial-two-bg.png);">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">{{heading}}</h2>
                <p style="font-size: 25px" class="text-muted">
                    {{content}}
                </p>

            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-12 mt-4 pt-2">
                <br><br><br><br><br>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end what client says -->