/* You can add global styles to this file, and also import other style files */

.owl-dots {
    margin-top: 20px !important;
}

:root {
    --fontSize: 14px;
    --transition: .5s;
    --mainColor: #6d62fd;
    --whiteColor: #ffffff;
    --blackColor: #262A37;
    --gradientColor: linear-gradient(44.44deg, #ED2775 7.79%, #FF7448 94.18%);
    --paragraphColor: #716c80;
    --fontFamily: 'Inter', sans-serif;
}
@import '~maplibre-gl/dist/maplibre-gl.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}